html,body{
    /*font-family: 'Microsoft JhengHei', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;*/
    /*font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;*/
    font-family: arial,Hiragino Sans GB,Microsoft Yahei, 微软雅黑, 宋体, 宋体, Tahoma, Arial, Helvetica, STHeiti; 
    color: #fff;
    height: 100%;
}